{% extends "base.html" %}

{% block titulo %}
<title>Users</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/estilo1.css">
<link rel="stylesheet" href="estilo.css">
{% endblock %}

{% block conteudo %}
<div class="user">
    <table>
        <tr>
          <th>E-mail</th>
          <th>Assunto</th>
          <th>Descrição</th>
        </tr>
        <tr>
        {% for users in usersInfo %}
          <td> {{ users[0] }} </td>
          <td> {{ users[1] }} </td>
          <td> {{ users[2] }} </td>
        </tr>
        {% endfor %}
      </table>
</div>
    
{% endblock %}