{% extends "base.html" %}
{% block titulo %}
    <title>Home</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/estilo.css">
{% endblock %}

{% block conteudo %}
<!--body-->
    <div class="body-home" id="img">
        <img src="../static/imagens/capa.png" alt="a tecnologia do seu aprendizado">
        
    </div>

<!--txt-->
<div class="texto">
    <h2>Sobre a universidade</h2>
    <p>Lorem <b>ipsum dolor</b> sit, <i>amet</i> consectetur adipisicing elit. Inventore eum modi maiores sapiente sed nihil. Et nisi iure accusamus minus, dolorum aliquam recusandae ipsa expedita omnis cupiditate, fugiat quod excepturi. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur nihil dolores sint amet ad. Natus ratione saepe incidunt necessitatibus deleniti, sapiente vero minima, eius dolores fuga sunt nam quaerat reiciendis?</p>
    <p>Lorem <b>ipsum dolor</b> sit <i>amet</i> consectetur adipisicing elit. Incidunt soluta quas accusamus, vitae laborum doloribus dolorum sunt? Fuga vitae numquam quis iusto. Eos totam expedita quia sint aperiam, voluptatum dolor! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, nostrum iure quod magni, doloremque enim inventore provident rem nihil necessitatibus assumenda aut numquam corporis quis laboriosam eius, voluptas atque id!</p>
</div>
{% endblock %}