{% extends "base.html" %}
{% block titulo %}
    <title>Quem Somos</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="../static/estilo1.css">
{% endblock %}

{% block conteudo %}
<!--body-->


<!--txt-->
<div class="texto1">
    <h2>Quem somos</h2>
    <p>Lorem <b>ipsum dolor</b> sit, <i>amet</i> consectetur adipisicing elit. Inventore eum modi maiores sapiente sed nihil. Et nisi iure accusamus minus, dolorum aliquam recusandae ipsa expedita omnis cupiditate, fugiat quod excepturi. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus animi molestias, asperiores, perspiciatis, eos fuga consequuntur iste et est inventore repellat atque facere sapiente nihil eius tenetur culpa dolor rem! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti esse quo consequuntur temporibus cupiditate, nesciunt quos placeat dignissimos ea veritatis obcaecati, asperiores sapiente? Sed quibusdam consequuntur architecto nobis, earum ipsum.Inventore eum modi maiores sapiente sed nihil. Et nisi iure accusamus minusEt nisi iure accusamus minus, dolorum aliquam recusandae ipsa expedita omnis.</p>
    <h2>5 motivos para estudar</h2>
</div>
<div class="texto2">
    <li>Material sempre atualizado</li>
    <li>Tablets em sala de aula</li>
    <li>Professores renomados</li>
    <li>Universidade bem avaliada</li>
    <li>Ótima localização</li>
    <p></p>
</div>
<div class="linha">
    <hr>
</div>
<div class="objetivos">
    <h2>Objetivos</h2>
    <p>Lorem <b>ipsum dolor</b> sit, <i>amet</i> consectetur adipisicing elit. Inventore eum modi maiores sapiente sed nihil. Et nisi iure accusamus minus, dolorum aliquam recusandae ipsa expedita omnis cupiditate, fugiat quod excepturi. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus animi molestias, asperiores, perspiciatis, eos fuga consequuntur iste et est inventore repellat atque facere sapiente nihil eius tenetur culpa dolor rem! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti esse quo consequuntur temporibus cupiditate, nesciunt quos placeat dignissimos ea veritatis obcaecati, asperiores sapiente? Sed quibusdam consequuntur architecto nobis, earum ipsum.Inventore eum modi maiores sapiente sed nihil. Et nisi iure accusamus minusEt nisi iure accusamus minus, dolorum aliquam recusandae ipsa expedita omnis.</p>
</div>
{% endblock %}